{% extends 'POAdminBundle:Default:layout.html.twig' %}

{% block body -%}

<div class="header">
    {% set back = app.request.get('path')|split('/') %}
    {% set back = back|slice(0, back|length - 1) %}
    Files <a href="{{path('po_admin_file_list', {'path': back|join('/')})}}" class="btn btn-green">Back</a>
</div>
    

<div class="container">
    <form action="" method="post" {{ form_enctype(form) }} novalidate>
    <fieldset>    
        {{ form_widget(form) }}
    </fieldset>
            
    <button type="submit" class="btn btn-green btn-large">Save</button>
    
    </form>
</div>        
{% endblock %}