{% extends 'POAdminBundle:Default:layout.html.twig' %}

{% block body -%}
{% set fCount = config['max_file_count_in_dir'] is defined ? config['max_file_count_in_dir'] : false %}
{% set currentPath = app.request.get('path') %}
<div class="header">
         Files
    <p>Disk free space: {{formatFilesize(freeSpace)}}</p>
    <p>Current directory: <b>{{currentPath}}</b></p>
</div>
    

<div class="container">
    
    <div class="files-btns">
        <a href="#" title="add file" class="js-add-file btn btn-green btn-large"><i class="icon icon-big">l</i> Add file</a>
        <a href="#" title="add dir"  class="js-add-dir btn btn-green btn-large"><i class="icon icon-big">s</i> Add dir</a>
    </div>
    
{% if fCount == false or (fCount and files|length < fCount) %}
    <div class="files-add-file">
        <form class="misc" action="{{path('po_admin_file_upload')}}" method="post" {{ form_enctype(uploadForm) }} novalidate>
            <fieldset>
                {{ form_widget(uploadForm) }}
            </fieldset>
            <button class="btn btn-green" type="submit">Send</button>
        </form>
    </div>
    
{% endif %}
        
<div class="files-add-dir">   
    <form class="misc" action="{{path('po_admin_file_newdir')}}" method="post" {{ form_enctype(newdirForm) }} novalidate>
        <fieldset>
            {{ form_widget(newdirForm) }}
        </fieldset>
        <button class="btn btn-green" type="submit">Add dir</button>
    </form>
</div>
    

    
<form action="{{path('po_admin_file_delete')}}" method="post">    
    <table>
        <thead>
            <tr>
                <th></th>
                <th>
                    {% set sorting = app.request.get('sort') == 'name-ASC' ? 'name-DESC' : 'name-ASC'%}
                    <a href="{{path('po_admin_file_list', app.request.attributes.get('_route_params')|merge({'sort':sorting}))}}">Name</a>
                </th>
                <th>Size</th>
                <th>
                    {% set sorting = app.request.get('sort') == 'time-ASC' ? 'time-DESC' : 'time-ASC'%}
                    <a href="{{path('po_admin_file_list', app.request.attributes.get('_route_params')|merge({'sort':sorting}))}}">Modification time</a>
                </th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% if currentPath and currentPath != '/' %}
            <tr>
                <td></td>
                <td><a href="{{path('po_admin_file_list')}}">./</a></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                {% set pathArray = currentPath|split('/') %}
                {% set backDir = pathArray|slice(1, (pathArray|length)-2)%}
                {% set up = backDir ? '/'~ backDir|join('/') : null %}
                <td><a href="{{path('po_admin_file_list', {'path':up})}}">../</a></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endif %}
            {% for dir in dirs %}
            {% set dirPath = currentPath ~'/'~ dir['name'] %}
                <tr>
                    <td><input type="checkbox" name="dir[]" value="{{dirPath}}"></td>
                    <td><a href="{{path('po_admin_file_list', {'path':dirPath})}}">{{dir['name']}}</a></td>
                    <td></td>
                    <td>{{dir['mtime']|date('d-m-Y H:i:s')}}</td>
                    <td>
                        <a href="{{path('po_admin_file_delete', {'dir': dirPath})}}" class="js-confirm btn btn-red btn-mini"><i class="icon">I</i></a>
                        <a href="{{path('po_admin_file_details', {path: dirPath})}}" class="btn btn-green btn-mini"><i class="icon">&</i></a>
                    </td>
                </tr>
            {% endfor %}
            {% for file in files %}
                {% set filePath = currentPath~'/'~file['name'] %}
                <tr>
                    <td><input type="checkbox" name="file[]" value="{{filePath}}"></td>
                    <td>
                        <a href="/{{config['dir'] ~ filePath}}">{{file['name']}}</a>
                    </td>
                    <td>{{formatFilesize(file['size'])}}</td>
                    <td>{{file['mtime']|date('d-m-Y H:i:s')}}</td>
                    <td>
                        <a href="{{path('po_admin_file_delete', {'file': filePath})}}" class="js-confirm btn btn-red btn-mini"><i class="icon">I</i></a>
                        <a href="{{path('po_admin_file_details', {path: filePath})}}" class="btn btn-green btn-mini"><i class="icon">&</i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

<input type="submit" value="Remove" class="js-confirm btn btn-red btn-large">
</form>
    </div>
{% endblock %}