{# form_errors.html.twig #}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
        <ul class="error-list">
            {% for error in errors %}
                <li>{{
                    error.messagePluralization is null
                        ? error.messageTemplate|trans(error.messageParameters, 'validators')
                        : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}


{% block textarea_widget %}
{% if attr['class'] is defined and 'js-wysiwyg' in attr['class'] %}
<div class="wysiwyg-holder">
    
    <div id="toolbar-{{id}}" style="display: none;">
        <div class="wysiwyg-btns">
        <a class="btn btn-green btn-mini" data-wysihtml5-command="bold" title="CTRL+B"><b>B</b></a>
        <a class="btn btn-green btn-mini" data-wysihtml5-command="italic" title="CTRL+I"><i>I</i></a>
        <a class="btn btn-green btn-mini" data-wysihtml5-command="underline" title="CTRL+U"><u>U</u></a>
        <a class="btn btn-green btn-mini" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1">h1</a>
        <a class="btn btn-green btn-mini" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2">h2</a>
        <a class="btn btn-green btn-mini" data-wysihtml5-command="insertUnorderedList">- List</a>
        <a class="btn btn-green btn-mini" data-wysihtml5-command="insertOrderedList">1. List</a>
        <a class="btn btn-green btn-mini" data-wysihtml5-command="createLink">Link</a>
        <a class="btn btn-green btn-mini" data-wysihtml5-command="insertImage">Image</a>
        <a class="btn btn-green btn-mini" data-wysihtml5-action="change_view">Show HTML</a>
        </div>
        <div data-wysihtml5-dialog="createLink" style="display: none;" class="create-link">
          <label>
            Link:
            <input data-wysihtml5-dialog-field="href" value="http://">
          </label>
                <div class="btns">
          <a data-wysihtml5-dialog-action="save" class="btn btn-green btn-mini">OK</a>&nbsp;
          <a class="btn btn-red btn-mini" data-wysihtml5-dialog-action="cancel">Cancel</a>
          </div>
        </div>

        <div data-wysihtml5-dialog="insertImage" style="display: none;" class="create-image">
          <label>
            Image:
            <input data-wysihtml5-dialog-field="src" value="http://">
          </label>
          <label>
            Align:
            <select data-wysihtml5-dialog-field="className">
              <option value="">default</option>
              <option value="wysiwyg-float-left">left</option>
              <option value="wysiwyg-float-right">right</option>
            </select>
          </label>
                <div class="btns">
          <a data-wysihtml5-dialog-action="save" class="btn btn-green btn-mini">OK</a>&nbsp;
          <a class="btn btn-red btn-mini" data-wysihtml5-dialog-action="cancel">Cancel</a>
          </div>
        </div>
    </div>
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
  </div>
{% else %}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endif %}
  

{% endblock %}