<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{%endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% javascripts
    '@PiotrOsinskiBundle/Resources/public/js/jquery.min.js'
    '@PiotrOsinskiBundle/Resources/public/js/prettify.js'
    '@PiotrOsinskiBundle/Resources/public/js/blog-main.js'
		%}
        <script src="{{ asset_url }}"></script>
		{% endjavascripts %}
        
        {% stylesheets			
		'@PiotrOsinskiBundle/Resources/public/css/bootstrap.css'
		'@PiotrOsinskiBundle/Resources/public/css/fonts.css'
		'@PiotrOsinskiBundle/Resources/public/css/blog.css'
                '@PiotrOsinskiBundle/Resources/public/css/prettify-sunburst.css'
		%}<link rel="stylesheet" media="screen" href="{{ asset_url }}" />
		{% endstylesheets %}
                {#<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500' rel='stylesheet' type='text/css'>#}
    </head>
    <body>
        {% if app.user and 'ROLE_ADMIN' in app.user.getRoles() %}
            <div class="admin-bar">
            {% if app.request.get('_route') == 'post' %}
                    <p>
                        <a href="{{url('admin_post_edit', {'id':app.request.attributes.get('id')})}}">Edycja</a>
                    </p>
            {% endif %}
            </div>
        {% endif %}
        
        <div class="container">
            <div class="row">
                <div class="span1">
                    Back
                </div>
                <div class="span11">
                    <h1>
                        <a class="no-underline" href="{{url('posts_list')}}">
                            piotrosinski.com/blog
                        </a>
                    </h1>
                </div>
            </div>
                
                {% if app.request.get('_route') == 'posts_by_category' %}
                    {% render(controller('PiotrOsinskiBundle:Blog/Default:categories', {'categorySlug':app.request.get('categorySlug')})) %}
                {% else %}
                    {% render(controller('PiotrOsinskiBundle:Blog/Default:categories')) %}
                {% endif %}
                
                {% block content %}{% endblock %}

                <div class="row footer">

                </div>

            </div>
        </body>
    </html>