
{% for row in form if 'hidden' not in row.vars['block_prefixes']%}

<div class="control-group">
    <label class="control-label"  for="username">{{ form_label(row) }}</label>
    <div class="controls">
        {{ form_widget(row) }}
    </div>
    {{ form_errors(row) }}
</div>

{% endfor %}

{{form_rest(form) }}