<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% stylesheets
        '@AllianceCompetitionBundle/Resources/public/css/bootstrap.css'
        %}
        <link href="{{asset_url}}" rel="stylesheet">
        {% endstylesheets %}
        <style>
                body{padding: 30px;}
                </style>
  </head>

  {% block body %}{%endblock%}
  <body >
  </body>
</html>
