{% extends 'AllianceCompetitionBundle:Default:layout.html.twig' %}


{% block body -%}

<form class="form-horizontal" action="{{path("alliance_login_check")}}" method="POST">
  <fieldset>
    <div id="legend">
      <legend class="">Panel rejestracyjny zawodników na Lublin OPEN ADCC 2013</legend>
    </div>
    <div class="control-group">
      <!-- Username -->
      <label class="control-label"  for="username">Email</label>
      <div class="controls">
        <input type="text" id="username" name="_username" placeholder="" class="input-xlarge">
      </div>
    </div>
 
    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">Hasło</label>
      <div class="controls">
        <input type="password" id="password" name="_password" placeholder="" class="input-xlarge">
      </div>
    </div>
          {% if error.message is defined %}
 {{error.message}}
          
          {% endif %}
 
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Zaloguj</button>
        <a class="btn btn-primary" href="{{path('alliance_user_register')}}">Zarejestruj konto</a>
      </div>
    </div>
  </fieldset>
</form>

{% endblock %}