{% extends 'AllianceCompetitionBundle:Default:layout.html.twig' %}

{% block body -%}
<form class="form-horizontal" action='' method="POST" novalidate>
    <fieldset>
        <div id="legend">
            <legend class="">Zarjestruj konto</legend>
        </div>
        {% include 'AllianceCompetitionBundle:Default:_formWidget.html.twig' with {'form': form} %}


        <div class="control-group">
            <div class="controls">
                <button class="btn btn-success">Zarejestruj</button>
                <a href="{{path('alliance_login')}}" class="btn">Powrót</a>
            </div>
        </div>
    </fieldset>
</form>

{% endblock %}