<div class="row">
    <div class="span10 offset1 categories-container">
        {#<a href="{{url('posts_list')}}" class="no-underline">All</a>#}
        
        {%for category in categories %}
            {% if categorySlug is defined and categorySlug == category.slug %}
                {% set active = 'active' %}
            {% else %}
                {% set active = null %}
            {% endif %}
            <a href="{{url('posts_by_category', {'categorySlug':category.slug})}}" 
               class="no-underline {{ active }}">{{category.name}}</a>
        {%endfor%}
    </div>
</div>
