<div class="row post">
    <div class="span2 date">
        <p class="date">{{post.createdAt|date('F d, Y')}}</p>
    </div>
    <div class="span10">
        <h2 class="post-title">
            {%if app.request.get('_route') != 'post' %}
                <a href="{{url('post', {'id':post.id, 'slug':post.slug})}}">
            {% endif %}
                {{ post.title }}
            {%if app.request.get('_route') != 'post' %}
                </a>
            {% endif %}
            <span class="categories">
                {% for category in post.categories %}
                    <a href="{{url('posts_by_category', {'categorySlug':category.slug})}}">{{category.name}}</a>
                {% endfor %}
            </span>
        </h2>
    </div>
    {% if onlyTitle is not defined %} 
        <div class="span10 offset1">
            <p class="post-excerpt">
                {{post.excerpt}}
            </p>
        </div>
        {% if showContent is defined %} 
            <div class="span10 offset1 post-content">
                    {{post.content|raw}}
            </div>
        {% endif %}
    {% endif %}    
</div>