
<div class="row similar-posts">
    <div class="span5 s-header">
        Other posts that might interest you:
    </div>
    <div class="span10 similar-titles">
        {% for post in posts %}
             <p><a class="no-underline" href="{{url('post', {'id':post.id, 'slug':post.slug})}}">{{post.title}}</a></p>
        {% endfor %}
    </div>
    </div>
