<aside>
    <nav>
        <ul class="nav">
          <li {%if controller == 'Default'%}class="selected"{%endif%}>
            <a href="{{path('admin_index')}}">
                <i class="icon-play {%if controller != 'Default'%}icon-white{%endif%}"></i> 
                Panel główny
            </a>
          </li>
          <li {%if controller == 'Post'%}class="selected"{%endif%}>
            <a href="{{path('admin_post')}}">
                <i class="icon-th-list {%if controller != 'Post'%}icon-white{%endif%}"></i> 
                Wpisy
            </a>
          </li>
          <li {%if controller == 'Category'%}class="selected"{%endif%}>
            <a href="{{path('admin_category')}}">
                <i class="icon-font {%if controller != 'Category'%}icon-white{%endif%}"></i> 
                Kategorie
            </a>
          </li>
          <li {%if controller == 'Work'%}class="selected"{%endif%}>
            <a href="{{path('admin_work')}}">
                <i class="icon-user {%if controller != 'Work'%}icon-white{%endif%}"></i> 
                Prace
            </a>
          </li>
          <li {%if controller == 'Default'%}class="selected"{%endif%}>
            <a href="{{path('admin_example')}}">
                <i class="icon-retweet {%if controller != 'Default'%}icon-white{%endif%}"></i> 
                Example
            </a>
          </li>
        </ul>
    </nav>
</aside>