{% extends '::baseAdminLogin.html.twig' %}

{% block body -%}
<div class="span6">
    <form class="form-horizontal" action="{{ path('login_check') }}" method="POST">
  <fieldset>
    <div id="legend">
      <legend class="">Login</legend>
    </div>
    <div class="control-group">
      <!-- Username -->
      <label class="control-label"  for="username">Username</label>
      <div class="controls">
        <input type="text" id="username" name="_username" placeholder="" class="input-xlarge">
      </div>
    </div>
 
    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" id="password" name="_password" placeholder="" class="input-xlarge">
      </div>
    </div>
          
 {% if error %}
          <div class="row-fluid">
              <div class="alert alert-error span6">{{ error.message }}</div>
          </div>
{% endif %}
 
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Login</button>
      </div>
    </div>
  </fieldset>
</form>
</div>
{% endblock %}