{% extends 'PiotrOsinskiBundle:Blog:layout.html.twig' %}


{% block content %}

{% for post in pager %}

        {% include 'PiotrOsinskiBundle:Blog:Default/partials/post.html.twig' with {'post':post} %}

{% endfor %}


<div class="row pagination">
    <div class="span2 offset1">
    {% if app.request.get('page') >= 2 %}
    <a href="{{url(app.request.get('_route'), app.request.attributes.all|merge({
                ('page'): pager.paginationData.current-1
             }))}}">Newer</a>
    {% endif %}
    </div>
    <div class="span1 pull-right">
    {% if app.request.get('page') < pager.paginationData.endPage %}
    <a href="{{url(app.request.get('_route'), app.request.attributes.all|merge({
                ('page'): pager.paginationData.current+1
             }))}}">Older</a>
    {% endif %}
    </div>
</div>

{% endblock %}