{% extends 'PiotrOsinskiBundle:Blog:layout.html.twig' %}


{% block content %}
    Sorry, we couldn't find any posts for this url...
   <br/>
   But maybe these posts will interest you?
   {% for post in posts %}
        {% include 'PiotrOsinskiBundle:Blog:Default/partials/post.html.twig' with {'post':post, 'onlyTitle': true} %}
   {% endfor %}
{% endblock %}