{% extends 'PiotrOsinskiBundle:Blog:layout.html.twig' %}

{% block title %}{{post.title}}{% endblock %}
{% block content %}

    {% include 'PiotrOsinskiBundle:Blog:Default/partials/post.html.twig' with {'post':post, 'showContent':true} %}

    {% render(controller('PiotrOsinskiBundle:Blog/Default:similarPosts', {'post':post.id})) %}  

{% if post.type == 1 %}
 <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'piotrblog'; // required: replace example with your forum shortname
        var disqus_identifier = {{post.id}};
        var disqus_title = '{{post.title}}';
        
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    {% endif %}
{% endblock %}