{% extends '::baseAdmin.html.twig' %}

{% block body -%}
    <h1>Work creation</h1>

    <form action="{% if delete_form is defined %}{{ path('admin_work_update', { 'id': entity.id }) }}{%else%}{{ path('admin_work_create') }}{%endif%}" method="post" {{ form_enctype(form) }}>
        {% if delete_form is defined %}
            <input type="hidden" name="_method" value="PUT" />
        {% endif %}
        {{ form_widget(form) }}
        <p>
            <button type="submit">Zapisz</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_work') }}">
            POwrót
        </a>
    </li>
    {% if delete_form is defined %}
    <form action="{{ path('admin_work_delete', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button type="submit">Usuń</button>
    </form>
    {% endif %}
</ul>
{% endblock %}
