body{
    /*background: rgb(231, 230, 228);*/
    background: url('/bundles/piotrosinski/images/light_toast.png');
    overflow-y:scroll;
}

.container{
    font-family: 'PTSansRegular';
    color:rgb(22, 22, 22);
    text-shadow: 0 1px 0 rgb(255, 255, 255);
}

pre{
    text-shadow: none;
}

.post h2.post-title{
    font-size:27px; 
    line-height: 43px;
    font-family: 'PTSansBold';
    font-weight: 300;
    margin-bottom:0;
}

.post h2.post-title a{
    text-decoration: none;
}

.post h2.post-title a:hover{
    text-decoration: underline;
}

.post h2.post-title .categories{
    font-size: 18px;
    font-family: 'PTSansItalic';
    color: rgb(105,105,105);
}

.post h2.post-title .categories a{
    color: rgb(105,105,105);
}

.categories-container{
    font-size: 22px;
    font-family: 'PTSansItalic';
    color: rgb(105,105,105);
    margin-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(196, 196, 196);
    box-shadow: 0 1px 0 rgb(255,255,255);
}

.categories-container a{
    color: rgb(105,105,105) !important;
}

.categories-container .active{
    font-weight: 800;
    text-decoration: underline;
}

.post .date{
    text-align: right;
    padding-top: 11px;
    color:rgb(163, 163, 163);
    font-family: 'PTSansItalic';
}

.post{
    margin-bottom: 15px;
}

.post .post-excerpt{
    font-size:17px;
    line-height: 27px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 1px 0 rgb(255,255,255);
    padding-bottom: 20px;
    margin-bottom: 5px;
}

.post .post-content{
    font-size: 15px;
    line-height: 28px;
    margin-top: 15px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 1px 0 rgb(255,255,255);
}

.pagination{
    margin:10px;
    font-size: 22px;
}

a, a:visited, a:hover{
    color:rgb(22, 22, 22);
}

a.no-underline{
    text-decoration: none;
}

a.no-underline:hover{
    text-decoration: underline;
}

a{
    text-decoration: underline;
}

a:hover{
    text-decoration: none;
}

.footer{
    border-top: 1px solid rgb(196, 196, 196);
    box-shadow: 0 1px 0 rgb(255,255,255);
    margin: 20px 0;
}

.admin-bar{
    background: black;
    height: 30px;
    margin-bottom: 15px;
}

.admin-bar p, .admin-bar a{
    color: white;
    text-shadow: none;
}

.similar-posts .s-header{
    font-size: 24px;
    line-height: 28px;
}

.similar-posts .similar-titles{
    font-size:20px;
    margin: 15px 0 0 55px;
}