
{% for row in form %}
    {% if row.vars.block_prefixes[2] == 'hidden'%}
        {{form_widget(row)}}
    {% else %}
        <div class="control-group">
        {{form_label(row, label|default(null), {'attr':{'class':'control-label'}})}}
          <div class="controls">
              {% set attr = row.vars.attr %}
                  {% if attr['class'] is defined %}
                    {% set attr = attr['class'] ~' input-xxlarge'%}
                  {% else %}
                    {% set attr = 'input-xxlarge' %}
                  {% endif %}
              {{form_widget(row,{'attr':{'class':attr}})}}
              {%if row.vars.errors|length%}
              <div class="row-fluid"> 
              <div class="span6">
                    <div class="alert alert-error">
                      {{form_errors(row)}}
                    </div>
                  </div>
                  </div>
            {% endif %}
          </div>
        </div>
    {% endif %}
{% endfor %}