{% set data = pager.paginationData %}
{% if data.pageCount > 1 %}
    <div class="pagination">
      <ul>
          <li {%if data.first == data.current %}class="disabled"{% endif %}>
              <a href="{%if data.first != data.current %}{{path(app.request.get('_route'), {'page':data.first})}}{% endif%}">&laquo;</a>
          </li>
          <li {%if data.first == data.current %}class="disabled"{% endif %}>
              <a href="{%if data.first != data.current %}{{path(app.request.get('_route'), {'page':data.previous})}}{% endif%}">&lsaquo;</a>
          </li>
    {% for page in data.pagesInRange %}

        <li {% if page == data.current %}class="active"{%endif%}>
            <a href="{{path(app.request.get('_route'), {'page':page})}}">{{page}}</a>
        </li>
    {% endfor %} 
        <li {%if data.last == data.current %}class="disabled"{% endif %}>
            <a href="{%if data.last != data.current %}{{path(app.request.get('_route'), {'page':data.next})}}{% endif%}">&rsaquo;</a>
        </li>
        <li {%if data.last == data.current %}class="disabled"{% endif %}>
            <a href="{%if data.last != data.current %}{{path(app.request.get('_route'), {'page':data.last})}}{% endif%}">&raquo;</a>
        </li>
      </ul>
    </div>
{% endif %}