@font-face {
    font-family: 'EntypoRegular';
    src: url('entypo-webfont.eot');
    src: url('entypo-webfont.eot?#iefix') format('embedded-opentype'),
        url('entypo-webfont.woff') format('woff'),
        url('entypo-webfont.ttf') format('truetype'),
        url('entypo-webfont.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html{
    overflow-y: scroll;
}

html, body
{
    background-color: #FAFAFA;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

*{
    box-sizing: border-box;
}

fieldset{
    border: none;
}

.btn{
    padding:7px;
    color:white;
    font-size: 14px;
    font-weight: 300;
    box-shadow: inset 1px 1px 0 rgba(255,255,255,.3), inset -1px -1px 0 rgba(255,255,255,.2), 1px 1px 0px rgba(255,255,255,.9), -1px -1px 0px rgba(255,255,255,.6);
    cursor: pointer;
}

.btn-active{
    box-shadow: inset 1px 1px 0 rgba(255,255,255,.55), inset -1px -1px 0 rgba(255,255,255,.45);
}

.btn-large{
    padding:10px;
    font-size: 18px;
}

.btn-mini{
    padding:4px;
    font-size: 12px;
}

.btn:hover{
    text-decoration: none;
    box-shadow: inset 1px 1px 0 rgba(255,255,255,.3), inset -1px -1px 0 rgba(255,255,255,.2), 1px 1px 4px rgba(0,0,0,.2);
    color: white;
}

.btn:active{
    text-decoration: none;
    box-shadow: inset 1px 1px 0 rgba(255,255,255,.3), inset -1px -1px 0 rgba(255,255,255,.2), 0px 0px 2px rgba(255,255,255,.5);
}

.btn-green{
    background-color: #51C29C;
    border: 1px solid #51C29C;
}

.btn-red{
    background-color: #D6684F;
    border: 1px solid #D6684F;
}

.btn-dark{
    background-color: #595959;
    border: 1px solid #595959;
}

.left-column .gliph{
    font-family: 'EntypoRegular';
    font-size:60px;
    line-height: 9px;
    float:left;
    margin-right:15px;
    width: 40px;
    font-weight: 300;
}

.left-column{
    background-color: #303030;
    height: 20%;
    min-width:300px;
    min-height: 100%;
    box-shadow:inset -10px 0px 35px rgba(0,0,0,.35);
    border-right:1px solid #222121;
    color: #DEDEDE;
    float:left;
}

.left-column ul{
    list-style: none;
    font-size: 16px;
    margin:0;
    padding:0;
    margin-left: 30px;
}

.left-column div.divider{
    width:250px;
    margin-left: 25px;
}
.left-column .divider{
    border-bottom:1px solid rgba(0,0,0,.9);
    box-shadow:0 1px 0 rgba(255,255,255,.15);
}

.left-column .admin-head{
    padding:10px 0 25px 15px;
}
.left-column .admin-head p{
    margin:0;
    padding:0; 
    text-shadow: 0px  0 rgba(255,255,255,.5);
}

.left-column .admin-head a{
    color: white;
    text-decoration: underline;
}

.left-column .admin-head a:hover{
    color: white;
    text-decoration: none;
}

.left-column .admin-head .status{
    margin: 20px 0 0 27px;
}

.left-column .admin-head .status p{
    padding-bottom: 10px;
}

.left-column ul li{
    padding: 15px 10px;
    font-weight: 800;
    color: #878787;
    text-shadow: 0px -1px 0 rgba(0,0,0,.99);
}

.left-column ul li.active{
    color: #fff;
    border-right: 4px solid #D6684F;
}

.left-column ul li:hover{
    color: #D6684F;
    /*color: #51C29C;*/
    cursor: pointer;
    border-right: 4px solid #D6684F;
}

.left-column .bottom-box{
    bottom:0;
    position:absolute;
}

.right-column{
    float:left;
}	

.right-column .header{
    background-color: #E3E3E3;
    width: 100%;
    font-size: 24px;
    padding: 40px 20px;
    margin-bottom: 25px;
}

.right-column .container{
    padding: 20px;
}

.right-column .container input[type="text"],
.right-column .container input[type="password"],
.right-column .container input[type="search"],
.right-column .container input[type="email"]{
    background-color: #E3E3E3;
    border: none;
    padding: 10px;
    color: #696969;
    text-shadow: 0px 1px 0 rgba(255,255,255,.6);
}
.right-column .container label{
    display: block;
    width: 250px;
    float: left;
    padding: 10px;
}

textarea:focus, input:focus{
    outline: none;
}


