{% extends '::baseAdmin.html.twig' %}

{% block body -%}
    <header>
        <div class="pull-right">
            <a class="btn btn-primary" href="{{ path('admin_post_new') }}" class="btn btn-small">Dodaj</a>
            
            <div class="btn-group">
                {% for key, type in postTypes %}
                    {% if typeCount[key] is defined %}
                      {% set count = typeCount[key] %}
                    {% else %}
                      {% set count = 0 %}
                    {% endif %}
                    <a class="btn {% if app.request.get('type') == key%}active{%endif%}" 
                       href="{{path('admin_post',{'type':key})}}">{{type}} ({{count}})</a>
                {% endfor %}
            </div>
        </div>
        <h1>Wpisy</h1>
      </header>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Tytuł</th>
                <th>Kategorie</th>
                <th>Data dodania</th>
                <th>Ostatnia edycja</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pager %}
            <tr>
                <td>{{ entity.title }}</td>
                <td>{{ entity.categoriesString }}</td>
                <td>{{ entity.createdAt|date('d-m-Y H:i') }}</td>
                <td>{{ entity.updatedAt|date('d-m-Y H:i') }}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-small" title="Podgląd" href="{{ path('admin_post_show', { 'id': entity.id }) }}">
                            <i class="icon-eye-close"></i>
                        </a>
                        <a class="btn btn-small" title="Pokaż" href="{{ path('admin_post_show', { 'id': entity.id }) }}">
                            pokaż
                        </a>
                        <a class="btn btn-small btn-primary" title="Edycja" href="{{ path('admin_post_edit', { 'id': entity.id }) }}">
                            <i class="icon-edit icon-white"></i>
                        </a>
                        </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div class="navigation">
    {% include 'PiotrOsinskiBundle:Admin:pagination.html.twig' with {'pager':pager}%}
</div>
    {% endblock %}
