{% extends '::baseAdmin.html.twig' %}

{% block body -%}
<div class="form-container js-no-prettyprint">
    <h1>Blog\Post {% if delete_form is defined %}edit{%else%}creation{%endif%}</h1>

    <form action="{% if delete_form is defined %}{{ path('admin_post_update', { 'id': entity.id }) }}
{% else %}{{ path('admin_post_create') }}{%endif%}" method="post" {{ form_enctype(form) }} novalidate>
            
        {% if delete_form is defined %}
            <input type="hidden" name="_method" value="PUT" />
        {% endif %}

            {% include 'PiotrOsinskiBundle:Admin:form.html.twig' with {'form':form}%}
        <p>
            <button class="btn btn-primary" type="submit">Zapisz</button>
            <a class="btn" href="{{ path('admin_post') }}">
                Powrót
            </a>
        </p>
    </form>

   {% if delete_form is defined %}
        <form action="{{ path('admin_post_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Usuń</button>
        </form>
    {% endif %}
    </div>
{% endblock %}
