<div class="admin-head">
    <div class="status">
        <div class="gliph">A</div><a href="{{path('po_admin_logout')}}"><p class="logout">Logout</p></a>
        {% if globals('logging') %}
            <div class="gliph">A</div><a href="{{path('po_admin_log')}}"><p class="logout">Logs</p></a>
        {% endif %}
        <div class="gliph">A</div><a href="{{path('po_admin_cc')}}"><p class="logout">Clear cache</p></a>
    </div>
</div>
<div class="divider"></div>
<ul class="menu">
        <li  {% if controller == 'Default'%}class="active"{% endif %}>
            <div class="gliph">k</div>
            <a href="{{url('po_admin_dashboard')}}">Dashboard</a>
        </li>
    {% for position in menu %}
        <li {% if app.request.get('table') == position.key %}class="active"{% endif %}>
            <a href="{{url('po_admin_list', {'table' : position.key})}}"><div class="gliph">{{position.icon}}</div>{{position.label}}</a>
            {% if position.subLabel is defined and position.subLabel != false %}
                <span class="sub-label">{{ position.subLabel }}</span>
            {% endif %}
            {% if position.create %}
                <a class="menu-add" href="{{url('po_admin_create', {'table':position.key})}}"><div class="gliph mini">Z</div></a>
            {% endif %}
        </li>
    {% endfor %}
    {% if globals('upload') and upload == true %}  
        <li  {% if controller == 'File' %}class="active"{% endif %}>
            <div class="gliph">w</div>
            <a href="{{url('po_admin_file_list')}}">Files</a>
        </li>
    {% endif %}
</ul>