{% extends 'POAdminBundle:Default:layout.html.twig' %}


{% block body -%}

<div class="header">
    {{dashboard.title}}
    </div>

<div class="container">

    <div class="dashboard">
    
        {% for board in dashboard.boards %}
        <div class="widget {{board.typeCss}}"><div class="box-header">{{board.title}}</div>
            <div class="box-content">
                {% if board.classType == 'template' %}
                    {% include board.templateName with board.args %}
                {% elseif board.classType == 'controller' %}
                    {{ render(controller(board.controllerName, board.args)) }}
                {% endif %}
            </div>
        </div>
        {% endfor %}
        
    </div>
    
</div>

{% endblock %}