<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}

        {% endblock %}
        {% stylesheets
        '@POAdminBundle/Resources/public/css/bootstrap.min.css'
        '@POAdminBundle/Resources/public/css/style.css'
        %}
        <link href="{{asset_url}}" rel="stylesheet">
        {% endstylesheets %}
        {% javascripts
    '@POAdminBundle/Resources/public/js/jquery.js'
    '@POAdminBundle/Resources/public/js/wysihtml-adv.js'
    '@POAdminBundle/Resources/public/js/wysihtml5-0.3.0.js'
    '@POAdminBundle/Resources/public/js/main.js'
		%}
        <script src="{{ asset_url }}"></script>
		{% endjavascripts %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
        <div class="hider js-toggle-panel"><a href="#"><div class="gliph">(</div></a></div>
              <div class="left-column">
            {{ render(url('po_admin_menu', {'controller': app.request.get('_controller'), 'table': app.request.get('table')}))}}
        </div>
            
        <div class="right-column">
            {% for key, flash in app.session.flashbag.iterator %}
                <div class="notification">
                     {{flash[0]}}
                     </div>
            {% endfor %}
                
                {% block body %}{%endblock%}

        </div>  
             
        </body>
    </html>
