{% extends 'POAdminBundle:Default:layout.html.twig' %}


{% block body -%}

<div class="header">
    Logs
    </div>

<div class="container">

    {% if files is defined %}
        <ul class="logs">
            {% for file in files %}
                <li><a href="{{path('po_admin_log',{'code':file['code']})}}">
                        {{file['filename']}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <ul class="log-file">
            {% for line in content %}
                <li>
                    [{{line.date}}] {{line.level}} {{line.message}}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

{% endblock %}