<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}

        {% endblock %}
        {% stylesheets
        '@POAdminBundle/Resources/public/css/bootstrap.min.css'
        '@POAdminBundle/Resources/public/css/style.css'
        %}
        <link href="{{asset_url}}" rel="stylesheet">
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
         
        <div class="login">
            <form method="POST" action="{{ path('po_admin_login_check') }}">
                <fieldset>
                    <label for="login">Login</label>
                    <input type="text" name="_username" value="{{last_username}}"/>
                </fieldset>
                <fieldset>
                    <label for="password">Password</label>
                    <input type="password" name="_password"/>
                </fieldset>
                    <button type="submit" value="Login" class="btn btn-green btn-large">Login</button>
            </form>
                {%if error %}
                        Error, try again
                    {% endif %}
        </div>
             
    </body>
</html>
