{% if data.pageCount > 1 %}
{% set queryParams = app.request.query.all %}
    <div class="pagination">
      <ul>
          <li class="{%if data.first == data.current %}disabled{% endif %} left">
              <a href="{%if data.first != data.current %}{{path(app.request.get('_route'), queryParams|merge({'page':data.first, 'table':app.request.get('table')}))}}{% endif%}">&laquo;</a>
          </li>
          <li class="{%if data.first == data.current %}disabled{% endif %} left">
              <a href="{%if data.first != data.current %}{{path(app.request.get('_route'), queryParams|merge({'page':data.previous, 'table':app.request.get('table')}))}}{% endif%}">&lsaquo;</a>
          </li>
    {% for page in data.pagesInRange %}

        <li {% if page == data.current %}class="active"{%endif%}>
            <a href="{{path(app.request.get('_route'), queryParams|merge({'page':page, 'table':app.request.get('table')}))}}">{{page}}</a>
        </li>
    {% endfor %} 
        <li class="{%if data.last == data.current %}disabled{% endif %} right">
            <a href="{%if data.last != data.current %}{{path(app.request.get('_route'), queryParams|merge({'page':data.next, 'table':app.request.get('table')}))}}{% endif%}">&rsaquo;</a>
        </li>
        <li class="{%if data.last == data.current %}disabled{% endif %} right">
            <a href="{%if data.last != data.current %}{{path(app.request.get('_route'), queryParams|merge({'page':data.last, 'table':app.request.get('table')}))}}{% endif%}">&raquo;</a>
        </li>
      </ul>
    </div>
{% endif %}