<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
{% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        {% javascripts
    '@PiotrOsinskiBundle/Resources/public/js/jquery.min.js'
    '@PiotrOsinskiBundle/Resources/public/js/redactor.min.js'
    '@PiotrOsinskiBundle/Resources/public/js/redactor-pl.js'
    '@PiotrOsinskiBundle/Resources/public/js/admin-main.js'
    '@PiotrOsinskiBundle/Resources/public/js/prettify.js'
		%}
        <script src="{{ asset_url }}"></script>
		{% endjavascripts %}
        
        {% stylesheets			
		'@PiotrOsinskiBundle/Resources/public/css/redactor.css'
		'@PiotrOsinskiBundle/Resources/public/css/inspiritas.css'
		'@PiotrOsinskiBundle/Resources/public/css/prettify-sunburst.css'
		%}<link rel="stylesheet" media="screen" href="{{ asset_url }}" />
		{% endstylesheets %}
</head>

<body>

<!-- Navbar
  ================================================== -->
<div class="navbar navbar-static-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="#">Panel</a>
      <span class="tagline">administracyjny</span>

      <div class="nav-collapse collapse" id="main-menu">
        <div class="auth pull-right">
            <span class="name">Admin</span><br/>
            <span class="links">
                <a href="{{path('admin_logout')}}">Wyloguj</a>
            </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row-fluid">
        <div class="span3">
            {% render(controller('PiotrOsinskiBundle:Admin/Default:menu', {'controller':app.request.get('_controller')})) %}
        </div>
        <div class="span9" id="content-wrapper">
            <div id="content">
                <div class="row-fluid">
                    <div class="span12">
                        
                        {% block body %}{%endblock%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
            {% block javascripts %}{% endblock %}
  </body>
</html>

