{% extends 'AllianceCompetitionBundle:Default:layout.html.twig' %}

{% block body -%}
    <h1>Edycja zawodnika</h1>

    <form action="{{ path('alliance_competitor_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} novalidate> 
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button class="btn btn-primary" type="submit">Edytuj</button>
            <a class="btn" href="{{ path('alliance_competitor') }}">
            Powrót
        </a>
        </p>
        
    </form>

        
        <form action="{{ path('alliance_competitor_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Usuń</button>
        </form>
{% endblock %}
