{% extends 'AllianceCompetitionBundle:Default:layout.html.twig' %}

{% block body -%}
<a href="{{path('alliance_logout')}}" class="btn btn-danger">Wyloguj</a>
    <h1>Lista zawodników "{{app.user.team}}"</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Kategoria</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.firstName }}</td>
                <td>{{ entity.lastName }}</td>
                <td>{{ entity.weight }}</td>
                <td>
                        <a class="btn" href="{{ path('alliance_competitor_edit', { 'id': entity.id }) }}">Edytuj</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a class="btn btn-primary" href="{{ path('alliance_competitor_new') }}">
                Dodaj zawodnika
            </a>
    </ul>
    {% endblock %}
