{% extends 'AllianceCompetitionBundle:Default:layout.html.twig' %}

{% block body -%}
    <h1>Dodaj zawodnika</h1>

    <form action="{{ path('alliance_competitor_create') }}" method="post" {{ form_enctype(form) }} novalidate>
        {{ form_widget(form) }}
        <p>
            <button class="btn btn-primary" type="submit">Dodaj</button>
            <a class="btn" href="{{ path('alliance_competitor') }}">
            Powrót
        </a>
        </p>
        
    </form>

        
{% endblock %}
