{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}

<form action="" method="POST" novalidate>
    {{ form_errors(form) }}

    {{ form_row(form) }}
{{form_rest(form)}}
    <input type="submit" />
</form>