{% extends '::baseAdmin.html.twig' %}

{% block body -%}
    <header>
        <div class="pull-right">
            <a class="btn btn-primary" href="{{ path('admin_category_new') }}" class="btn btn-small">Dodaj</a>
        </div>
        <h1>Kategorie</h1>
      </header>
    
    <table class="records_list table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>
                <div class="btn-group">
                        <a class="btn" href="{{ path('admin_category_edit', { 'id': entity.id }) }}">edytuj</a>
                        </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
