@font-face {
    font-family: 'EntypoRegular';
    src: url('/bundles/poadmin/fonts/entypo-webfont.eot');
    src: url('/bundles/poadmin/fonts/entypo-webfont.eot?#iefix') format('embedded-opentype'),
        url('/bundles/poadmin/fonts/entypo-webfont.woff') format('woff'),
        url('/bundles/poadmin/fonts/entypo-webfont.ttf') format('truetype'),
        url('/bundles/poadmin/fonts/entypo-webfont.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html{
    overflow-y: scroll;
}

html, body
{
    background-color: #F5F5F5;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

*{
    box-sizing: border-box;
}

fieldset{
    border: none;
}

.btn{
    padding:7px;
    color:white;
    font-size: 14px;
    font-weight: 300;
    box-shadow: inset 1px 1px 0 rgba(255,255,255,.3), inset -1px -1px 0 rgba(255,255,255,.2), 1px 1px 0px rgba(255,255,255,.9), -1px -1px 0px rgba(255,255,255,.6);
    cursor: pointer;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}

.btn-active{
    box-shadow: inset 1px 1px 0 rgba(255,255,255,.55), inset -1px -1px 0 rgba(255,255,255,.45);
}

.btn-large{
    padding:6px 8px;
    font-size: 18px;
}

.btn-mini{
    padding:4px;
    font-size: 12px;
}

.btn:hover{
    text-decoration: none;
    box-shadow: inset 1px 1px 0 rgba(255,255,255,.3), inset -1px -1px 0 rgba(255,255,255,.2), 1px 1px 4px rgba(0,0,0,.2);
    color: white;
}

.btn:active{
    text-decoration: none;
    box-shadow: inset 1px 1px 0 rgba(255,255,255,.3), inset -1px -1px 0 rgba(255,255,255,.2), 0px 0px 2px rgba(255,255,255,.5);
}

.btn-green{
    background-color: #51C29C;
    border: 1px solid #51C29C;
}

.btn-red{
    background-color: #D6684F;
    border: 1px solid #D6684F;
}

.btn-dark{
    background-color: #595959;
    border: 1px solid #595959;
}

.gliph{
    font-family: 'EntypoRegular';
    font-size:60px;
    line-height: 9px;
    float:left;
    margin-right:15px;
    width: 40px;
    font-weight: 300;
    text-transform: none;
    text-align: center;
}

.left-column .gliph.mini{
    margin: 4px 0 0 0;
    font-size:30px;
    width: 15px;
}

.left-column ul li:not(.active):hover .gliph.mini{
    margin-right: -4px;
}

.left-column ul li .menu-add{
    float:right;
}

.left-column ul li:hover .menu-add{
    color: white;
}

.left-column ul li:hover .menu-add:hover{
    color: #D6684F;
}

.left-column ul li p{
    float:left;
}

.left-column{
    background-color: #303030;
    min-width:260px;
    /*min-height: 100%;*/
    height: 100%;
    box-shadow:inset -10px 0px 35px rgba(0,0,0,.35);
    border-right:1px solid #222121;
    color: #DEDEDE;
    float:left;
}

.left-column ul{
    list-style: none;
    font-size: 16px;
    margin:0;
    padding:0;
    margin-left: 30px;
}

.left-column div.divider{
    width: 75%;
    margin-left: 13%;
    margin-bottom: 10px;
}
.left-column .divider{
    border-bottom:1px solid rgba(0,0,0,.9);
    box-shadow:0 1px 0 rgba(255,255,255,.15);
}

.left-column .admin-head{
    padding:10px 0 5px 15px;
}
.left-column .admin-head p{
    margin:0;
    padding:0; 
    text-shadow: 0px  0 rgba(255,255,255,.5);
}

.left-column .admin-head a:hover{
    text-decoration: underline;
}

.left-column .admin-head .status{
    margin: 5px 10px 0 27px;

}

.left-column .admin-head .status p{
    padding-bottom: 10px;
}

.hider{
    position: fixed;
    height: 27px;
    padding: 6px 8px 0 3px;
    left: 0;
    top: 0;
    border-bottom-right-radius: 2px;
    background: #707070;
    border:1px solid #707070;
    box-shadow: inset -1px -1px 0 rgba(255,255,255,.4), 1px 1px 10px rgba(0,0,0,.4);
}

.hider .gliph{
    font-size: 35px;
    width: 0;
    color: white;
}

.left-column ul li{
    padding: 15px 10px;
    font-weight: 800;
    color: #878787;
    text-shadow: 0px -1px 0 rgba(0,0,0,.99);
    text-transform: uppercase;
    font-size: 13px;
}

.left-column .logout{
    font-weight: 800;
    color: #878787;
    text-shadow: 0px -1px 0 rgba(0,0,0,.99);
    text-transform: uppercase;
    font-size: 13px;
}

.left-column .admin-head .gliph{
    font-size: 40px;
}

.left-column ul li.active{
    color: #fff;
    border-right: 4px solid #D6684F;
}

.left-column ul li a{
    color: inherit;
}

.left-column ul li.active a{
    color: inherit;
}

.left-column ul li:hover{
    color: #D6684F;
    /*color: #51C29C;*/
    cursor: pointer;
    border-right: 4px solid #D6684F;
}

.left-column ul li .sub-label{
    background: #51C29C;
    padding: 1px 3px;
    border-radius: 4px;
    color: white;
    text-shadow: none;
    font-size: 10px;
    box-shadow: -1px -1px 0 rgba(0,0,0,.5);
}


.left-column .bottom-box{
    bottom:0;
    position:absolute;
}

.right-column{
    float:left;
}	

.right-column .header{
    background-color: #E3E3E3;
    width: 100%;
    font-size: 24px;
    padding: 40px 20px;
    margin-bottom: 25px;
    text-shadow: 0 1px 0 rgba(255,255,255,.9);
    box-shadow: 0px 1px 0 rgb(255,255,255);
}

.right-column .header p{
    font-size: 14px;
}

.right-column .header p:last-child{
    margin-bottom: 0;
}

.right-column .container{
    padding: 20px;
}

.right-column .container input[type="text"],
.right-column .container input[type="password"],
.right-column .container input[type="search"],
.right-column .container textarea,
.right-column .container select,
.right-column .container input[type="email"],
.right-column .container form .wysiwyg-holder .create-image input,
.right-column .container form .wysiwyg-holder .create-link input,
.login form input{
    background-color: #E3E3E3;
    border: none;
    padding: 10px;
    color: #696969;
    text-shadow: 0px 1px 0 rgba(255,255,255,.6);
    -webkit-appearance: none;
}

.right-column .container form .wysiwyg-holder{
    margin-left: 250px;
    width: 100%;
}

.right-column .container form .wysiwyg-holder .wysiwyg-btns{
    margin: 5px 0 10px 0;
}

.right-column .container form .wysiwyg-holder .create-image,
.right-column .container form .wysiwyg-holder .create-link{
    float: left;
    width: 100%;
    margin-bottom: 8px;
}

.right-column .container label,
.login label{
    display: block;
    width: 250px;
    float: left;
    padding: 10px;
}

.login label{
    width: 100px;
}

textarea:focus, input:focus, select:focus{
    outline: none;
}

.right-column table tbody{
    font-size: 13px;
}

.right-column table tbody td{
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 1px 0 rgba(255,255,255,.99);
}

.right-column table tbody td .btn{
    padding-top: 7px;
    float:left;
    margin-top: 5px;
}

.right-column table thead .actions-column{
    max-width:300px;
    min-width:200px;
}

.right-column table thead tr.fields{
    background-color: #E3E3E3;
    color: #757575;
    text-shadow: 0 1px 0 rgba(255,255,255,.99);
}

.right-column table thead tr th{
    padding: 5px;
}

.right-column table{
    margin: 20px 0px 0 0px;
    width: 100%;
}

.icon{
    font-family: 'EntypoRegular';
    font-size:24px;
    line-height: 9px;
    clear:both;
    font-style: normal;
    text-shadow: 0 1px 0 rgba(0,0,0,.3);
}

.icon.icon-big{
    font-size: 40px;
    position:relative;
    top: 3px;
}

.right-column .filters{
   font-size: 14px;
}

.right-column .container .pagination{
    width: 100%;
    font-size: 18px;
    margin-bottom: 100px;
}

.right-column .container .pagination ul{
    list-style: none;
}

.right-column .container .pagination ul li{
    float: left;
    padding: 0 5px;
}

.right-column .container .pagination ul li.active{
    text-decoration: underline;
}

.right-column .container .pagination ul li{
    text-align: center;
}

.right-column .container .pagination ul li.left{
    float: left;
    padding: 0 5px;
}

.right-column .container .pagination ul li.right{
    float: right;
    padding: 0 5px;
}

.right-column form.edit input, 
.right-column form.misc input{
    width: 60%;
}

.right-column form.edit textarea,
.right-column form.edit .wysiwyg-holder textarea{
    width: 60%;
    height: 350px;
    resize: none;
    font-size: 12px;
}

.right-column form.edit input,
.right-column form.edit select,
.right-column form.edit textarea,
.right-column form.edit fieldset div,
.right-column form.edit fieldset div label,
.right-column form.misc{
    clear:both;
}

.right-column form.edit div input[type="checkbox"]{
    height: 18px;
    margin: 10px 0;
}

.right-column form.edit fieldset div label{
    font-size: 14px;
    float:left;
}

.right-column .notification{
    width:100%;
    font-size: 24px;
    padding: 25px;
    text-shadow: 0 1px 0 rgba(255,255,255,.9);
    background: #BEE8DA;
    color: #2A916F;
}

.right-column form .error-list ul{
    list-style: none;
}
.right-column form .error-list{
    background: #E8B5B5;
    font-size: 15px;
    padding: 10px;
    padding-left: 25px;
    text-shadow: 0 1px 0 rgba(255,255,255,.9);
    color: #D6684F;
}

.files-add-file, .files-add-dir{
    display:none;
}

.right-column .files-btns{
    margin-bottom: 35px;
}

.right-column table .actions-area a{
    margin-left: 3px;
}

.right-column .container .read-field{
    background: #E3E3E3;
    padding: 10px;
}

.login{
    width:345px;
    margin-left: -172px;
    left: 50%;
    position: absolute;
    top: 50%;
    height: 150px;
    margin-top: -75px;
}

.login form button{
    width:80px;
    left: 50%;
    margin-left: -40px;
    position: relative;
}

.dashboard .widget .box-content{
    background: #E3E3E3;
    padding: 25px;
    box-shadow: 1px 1px 0 rgba(255,255,255,.99);
}

.dashboard .widget .box-header{
    font-size: 26px;
    text-transform: uppercase;
    margin: 5px 5px 10px 10px;
    text-shadow: 0 1px 0 rgb(255,255,255);
}

.dashboard .widget{
    float:left;
    margin: 20px;
}

.dashboard .widget.box.small{
    width: 300px;
}

.dashboard .widget.box.medium{
    width: 400px;
}

.dashboard .widget.box.large{
    width: 500px;
}

.dashboard .widget.row{
    clear:both;
}