{% extends 'POAdminBundle:Default:layout.html.twig' %}
{% form_theme form 'POAdminBundle:Form:fields.html.twig' %}

{% block body -%}
<div class="header">
        New/Edit
        {% if app.request.get('_route') == 'po_admin_update' %}
            {% set read = url('po_admin_read', {'table':app.request.get('table'), 'id':app.request.get('id')}) %}
            <a class="btn btn-green" href="{{ read }}">Read</a>
        {% endif %}
        {% set back = url('po_admin_list', {'table':app.request.get('table'), 'page':app.request.get('return_page', 1)}) %}
        <a class="btn btn-green" href="{{ back }}">Powrót do listy</a>
</div>
    

<div class="container">
<form action="" class="edit" method="post" {{ form_enctype(form) }} novalidate>
    
    {% for row in form if 'hidden' not in row.vars['block_prefixes']%}
        {% if 'collection' in row.vars.block_prefixes %}
            {{row.vars.label}}
            <ul class="js-collection-list" data-prototype="{{ form_widget(row.vars.prototype)|e }}">
                    {% for one in row %}
                        <li>{{one.vars.value}} : {{form_widget(one)}}</li>
                    {% endfor %}
            </ul>
        {% else %}
            <fieldset>
                {% if row|length > 0 %}
                    {{ form_label(row)}}
                    {{ form_errors(row)}}
                    <br/><br/>
                    {% for one in row %}
                    <fieldset>
                        {{ form_label(one)}}
                        {{ form_widget(one)}}
                        {{ form_errors(one)}}
                    </fieldset>
                    {% endfor %}
                {% else %}
                    {{ form_label(row)}}
                    {{ form_widget(row)}}
                    {{ form_errors(row)}}
                {% endif %}
            </fieldset>
        {% endif %}
    {% endfor %}
    {{form_rest(form)}}
    <button class="btn btn-red" type="submit">Zapisz</button>
    <a class="btn btn-green" href="{{ back }}">Powrót</a>
    </form>
    

{% endblock %}