{% extends 'POAdminBundle:Default:layout.html.twig' %}

{% set urlParams = app.request.query.all %}
{% block body -%}
<div class="header">
         {{config.label}}
        {% if config.create is defined and checkAccess(config.create.accessRoles) %}
            <a href="{{path('po_admin_create', {'table': app.request.get('table')})}}" class="btn btn-green btn-large">New</a>
        {% endif %}
</div>
    

<div class="container">

{% set list = config.listing %}
{% if list.filters != false or list.orderBy != false or list.searchBy != false %}
    <form method="GET" class="filters">
      {% if list.filters != false %}
            Filter:
            <select name="filter">
              {% for key, filter in filters %}
                {% set selected = app.request.get('filter') == key ? 'selected="selected"' : null %}
                    <option value="{{key}}" {{selected}}>
                    {{filter['label']}} 
                    {% if filter['count'] is defined %}({{filter['count']}}){%endif%}
                        </option>
              {% endfor %}
                    </select>
       {% endif %}
       {% if list.orderBy != false %}
                    Order:
                    <select name="orderby">
              {% for key, order in list.orderBy %}
                {% set selectedAsc = app.request.get('orderby') == key~'-ASC' ? 'selected="selected"' : null %}
                {% set selectedDesc = app.request.get('orderby') == key~'-DESC' ? 'selected="selected"' : null %}
                    <option value="{{key}}-ASC" {{selectedAsc}}>{{order['label']}} ↓</option>
                    <option value="{{key}}-DESC" {{selectedDesc}}>{{order['label']}} ↑</option>
              {% endfor %}
                    </select>
       {% endif %}
       {% if list.searchBy != false %}
                        Search by 
          {% set sl = app.request.get('search_phrase')|length %}
          {% if sl > 0 and sl < list.minSearchByPhraseLength %}
                        (phrase should be at least {{list.minSearchByPhraseLength}} char(s) long):
          {% endif %}
                    <select name="searchby">
              {% for key, search in list.searchBy %}
                {% set selected = app.request.get('searchby') == key ? 'selected="selected"' : null %}
                    <option value="{{key}}" {{selected}}>{{search['label']}}</option>
              {% endfor %}
        </select>
        Phrase: <input type="search" name="search_phrase" value="{{app.request.get('search_phrase')}}"/>
       {% endif %}
            <input type="submit" value="Filter" class="btn btn-green"/>
        </form>
{% endif %}
    <table>
        <thead>
            <tr class="fields">
            {% for key, field in fields %}
                <th>
                    {{field['label']}}
                </th>
            {% endfor %}
                {% if actionsArea(config) %}
                        <th class="actions-column">Actions</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
        {% for entity in items %}
                <tr>
                {% for field in fields %}
                    <td>
                        {{ propertyCall(entity, field) }}
                    </td>
                {% endfor %}
                    {% if actionsArea(config) %}
                    {% set page = app.request.get('page') %}
                        <td class="actions-area">
                        {{ config.customActions(entity) }}
                        {% for key, action in config.getCustomActions %}
                            {% if checkAccess(action.accessRoles) %}
                                <a class="btn btn-green btn-mini" 
                                   href="{{path('po_admin_custom_action', action.route['params']|merge({
                                                'route': action.route['name'], 
                                                'table':app.request.get('table')}))}}">
                                    {{action.label}}
                                </a>
                            {% endif %}
                        {% endfor %}
                        {{ config.clearCustomActions }}

                        {% if config.delete is defined and checkAccess(config.delete.accessRoles) %}
                            <a class="btn btn-mini btn-red js-confirm js-ajax-delete" 
                               title="delete" 
                               href="{{path('po_admin_delete', {'table': app.request.get('table'), 'id': entity.id, 'return_page': page})}}">
                                <i class="icon">I</i>
                            </a>
                        {% endif %}  

                        {% if config.update is defined and checkAccess(config.update.accessRoles) %}
                            <a class="btn btn-mini btn-green" 
                               title="edit" 
                               href="{{path('po_admin_update', {'table': app.request.get('table'), 'id': entity.id, 'return_page': page})}}">
                                <i class="icon">&</i>
                            </a>
                        {% endif %}

                        {% if config.read is defined and checkAccess(config.read.accessRoles) %}
                             <a class="btn btn-mini btn-green" 
                                title="show" 
                                href="{{path('po_admin_read', {'table': app.request.get('table'), 'id': entity.id, 'return_page': page})}}">
                                 <i class="icon">M</i>
                             </a>
                        {% endif %}
                        </td>
                      {% endif %}
                    </tr>
        {% endfor %}
                </tbody>
            </table>
    {% if paginationData is defined %}
        {% include 'POAdminBundle:Default:pagination.html.twig' with {'data': paginationData} %}
    {% endif %}
    
    </div>
{% endblock %}