{% extends 'POAdminBundle:Default:layout.html.twig' %}


{% block body -%}
<div class="header">
    {% if update is defined %}
        <a class="btn btn-green" href="{{path('po_admin_update', {'table': app.request.get('table'), 'id': entity.id})}}">Edit</a>
    {% endif %}
    {% set back = url('po_admin_list', {'table':app.request.get('table'), 'page':app.request.get('return_page', 1)}) %}
    <a class="btn btn-green" href="{{ back }}">Back to list</a>
</div>

<div class="container">

    {% for key, field in fields %}
    <p class="read-field">    
        <b>{{field['label']}}</b>:
        {% set property = propertyCall(entity, field) %}
        {% set raw = field['label'] in read.rawFields ? true : false %}
        {% if property[0] is defined %}
            {% for one in property %}
                {% if raw %}
                    {{ one|raw }}
                {% else %}
                    {{ one }}
                {% endif %}
            {% endfor %}
        {% else %}
            {% if raw %}
                {{ property|raw }}
            {% else %}
                {{ property }}
            {% endif %}
        {% endif %}
    </p>
    {% endfor %}
</div>
{% endblock %}